In [22]:
# load packages
import requests
import pandas as pd
import unidecode 
from IPython.core.interactiveshell import InteractiveShell

In [2]:
headers = {
    'Access-Control-Allow-Origin': '*',
    'Access-Control-Allow-Methods': 'GET',
    'Access-Control-Allow-Headers': 'Content-Type',
    'Access-Control-Max-Age': '3600',
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'
    }

In [3]:
# last : https://www.ogef.dz/php/geo/getGeo.php?all&start=657
#data = []
#for i in range(0,657,35):
#    url = "https://www.ogef.dz/php/geo/getGeo.php?all&start="+str(i)
#    req = requests.get(url, headers)
#    data.append(req.json())
#len(data)

In [4]:
#surv_df = pd.DataFrame(data)
#surv_df.to_json('./surveyors_raw.json')

In [66]:
pois_file_name = './surveyors_raw.json'
df = pd.read_json(pois_file_name)
df.iloc[0].keys()

Index(['id', 'num', 'nomprenomAR', 'nomprenomFR', 'adresse1', 'tel',
       'adresse2', 'commune2', 'wilaya', 'region2', 'gps', 'photo', 'date',
       'NUM', 'MODE', 'NOM_FR', 'PRENOM_FR', 'NOM_AR', 'PRENOM_AR', 'SEXE',
       'DIPLOME', 'ANNEE_DIPLOME', 'ADRESSE_AR', 'TELEPHONE1', 'TELEPHONE2',
       'TELEPHONE3', 'FAX', 'COMMUNE', 'REGION', 'EMAIL', 'EMAIL1', 'DATN',
       'L_NAIS', 'SFF', 'GR_SANG', 'DT_DEMANDE', 'DT_INS', 'DT_CR', 'ADRESSE',
       'ADRE_AR', 'DT_SERM', 'CR_SERM', 'DT_EXER', 'OB_EXER',
       'Superficie_Cabinet', 'Site_Web', 'Location_Propriété', 'CN', 'MR',
       'AS', 'OGEF1', 'OGEF2', 'OGEF3', 'OGEF4', 'OGEF5', 'OGEF6', 'OGEF7',
       'OGEF8', 'OGEF9', 'OGEF10', 'NUM_DOSSIER_INS', 'AV_CN', 'COMMUNE_RES',
       'DT_SEC', 'AV_SEC', 'AV_CR', 'communeT', 'L_NAIST', 'nbrTout',
       'modifed', 'modif', 'codeRandom2', 'codeRandom', 'TELEPHONE1F',
       'TELEPHONE2F', 'TELEPHONE3F'],
      dtype='object')

In [67]:
df[['adresse1', 'tel', 'wilaya',  'gps', 'NOM_FR', 'PRENOM_FR', 'NOM_AR', 'PRENOM_AR', 
       'REGION', 'EMAIL',  'communeT', 'TELEPHONE1F' ]].describe()

,adresse1,tel,wilaya,gps,NOM_FR,PRENOM_FR,NOM_AR,PRENOM_AR,REGION,EMAIL,communeT,TELEPHONE1F
count,585,585,585,155,657,657,651,653,657,84,644,624
unique,582,584,89,154,598,399,598,414,3,83,207,619
top,نهج المركب عمارة كازنوس - اوبيور - عين تيموشنت.,Mise en disponibilitÃ©,الجزائر,"-0.5990530000000263,35.70285100000002",ALLAM,Mohamed,رابح,محمد,CRO,,3101 وهران ORAN,Susp en si on
freq,2,2,72,2,4,42,4,39,246,2,47,3

In [69]:
pois_df = df[['id', 'num', 'adresse1', 'tel', 'wilaya',  'gps', 'NOM_FR', 'PRENOM_FR', 'NOM_AR', 'PRENOM_AR', 
       'REGION', 'EMAIL',  'communeT', 'COMMUNE', 'TELEPHONE1F' ]]

In [ ]:
# Stop processing due to lack of gps positions !!