In [2]:
# load packages
import pandas as pd

In [18]:
pois_file_name = './elfirma.json'
pois_df = pd.read_json(pois_file_name)
pois_df.head()

,id,name,address,phone_number,category,organization,latitude,longitude,commune_name,wilaya_name,type_name,type_id
0,1,Ouled Hamla SPA Tikouyavic,CITE GOUADJLIA RABAH PROJET 160 LOG BT 09,0798 22 14 13,pv,AGROLOG,36.027295,6.563820,AIN MLILA,OUM EL BOUAGHI,Viandes,1
1,2,Point de vente UPD Ain Kercha SPA Thagavic,cite Mohamed m'gena nord ouest Commune Ain Ke...,0561 65 30 18,pv,AGROLOG,35.928594,6.684329,AIN KERCHA,OUM EL BOUAGHI,Viandes,1
2,3,Point de vente kaous SPA TAHAGAVIC,cité stade Commune de Kaous,0661 33 60 29,pv,AGROLOG,36.377426,5.814824,KAOUS,JIJEL,Viandes,1
3,4,POINT DE VENTE DAWADJEN SITIFIS,RUE DES ABATTOIRS CITE LAID DHAOUI Sétif,0661 31 60 90,pv,AGROLOG,36.170960,5.406740,SETIF,SETIF,Viandes,1
4,5,POINT DE VENTE DAWADJEN SITIFIS,CITE BIR EN NSA AADL 3000 LOGTS LOCAL Num 124125,0770 80 45 32,pv,AGROLOG,36.176870,5.476410,SETIF,SETIF,Viandes,1

In [11]:
# Load Wilayas Features and calculate polygon centroids
wilayas_gjson = '../../dz-admin/wilayas_48.csv'
wilayas_df = pd.read_csv(wilayas_gjson)
wilayas_df = wilayas_df[['code', 'nom_maj']]
wilayas_df = wilayas_df.rename(columns={'nom_maj': 'nom_wil', 'code': 'code_wil'})
wilayas_df.head()

   code_wil         nom_wil
0         1           ADRAR
1         2           CHLEF
2         3        LAGHOUAT
3         4  OUM EL BOUAGHI
4         5           BATNA

In [22]:
# Merge with Wialyas DataFrame
merged = pois_df.merge(wilayas_df, left_on='wilaya_name', right_on='nom_wil', how='left')

merged.count()

id              486
name            486
address         486
phone_number     54
category        486
organization    486
latitude        486
longitude       486
commune_name    486
wilaya_name     486
type_name       486
type_id         486
code_wil        486
nom_wil         486
dtype: int64

In [24]:
merged.tail()

,id,name,address,phone_number,category,organization,latitude,longitude,commune_name,wilaya_name,type_name,type_id,code_wil,nom_wil
481,2039,URCA JIJEL,Marché couvert taher,None,pv,OAIC,36.772383,5.896356,TAHER,JIJEL,Légumes secs,5,18,JIJEL
482,2040,URCA JIJEL,Jijel,None,pv,OAIC,36.808004,5.763458,JIJEL,JIJEL,Légumes secs,5,18,JIJEL
483,2041,ccls saida,route N6 SAIDA,None,pv,OAIC,34.836281,0.146586,SAIDA,SAIDA,Légumes secs,5,20,SAIDA
484,2042,ccls skikda,complexe cerealier hammadi krouma,None,pv,OAIC,36.844111,6.929096,SKIKDA,SKIKDA,Légumes secs,5,21,SKIKDA
485,2043,ccls skikda,route souk salaha bouchaour,None,pv,OAIC,36.704290,6.856340,SALAH BOUCHAOUR,SKIKDA,Légumes secs,5,21,SKIKDA

In [29]:
merged.rename(columns={"latitude": "lat", "longitude": "lon"}, inplace=True)
merged = merged.drop(columns=['nom_wil', 'id'], axis=1)
merged.head()

,name,address,phone_number,category,organization,lat,lon,commune_name,wilaya_name,type_name,type_id,code_wil
0,Ouled Hamla SPA Tikouyavic,CITE GOUADJLIA RABAH PROJET 160 LOG BT 09,0798 22 14 13,pv,AGROLOG,36.027295,6.563820,AIN MLILA,OUM EL BOUAGHI,Viandes,1,4
1,Point de vente UPD Ain Kercha SPA Thagavic,cite Mohamed m'gena nord ouest Commune Ain Ke...,0561 65 30 18,pv,AGROLOG,35.928594,6.684329,AIN KERCHA,OUM EL BOUAGHI,Viandes,1,4
2,Point de vente kaous SPA TAHAGAVIC,cité stade Commune de Kaous,0661 33 60 29,pv,AGROLOG,36.377426,5.814824,KAOUS,JIJEL,Viandes,1,18
3,POINT DE VENTE DAWADJEN SITIFIS,RUE DES ABATTOIRS CITE LAID DHAOUI Sétif,0661 31 60 90,pv,AGROLOG,36.170960,5.406740,SETIF,SETIF,Viandes,1,19
4,POINT DE VENTE DAWADJEN SITIFIS,CITE BIR EN NSA AADL 3000 LOGTS LOCAL Num 124125,0770 80 45 32,pv,AGROLOG,36.176870,5.476410,SETIF,SETIF,Viandes,1,19

In [30]:
merged.to_csv('./elfirma.csv', header = True)