In [125]:
import pandas as pd 
import geopandas as gpd 
from shapely.geometry import Point
import numpy as np

In [126]:
# Load Wilayas GeoJSON Features 
wilayas_json_gdf = gpd.read_file('wilayas.geojson')
wilayas_json_gdf.head()

           WILAYA  CODE                                           geometry
0           CHLEF     2  MULTIPOLYGON (((1.55326 36.02990, 1.55325 36.0...
1        LAGHOUAT     3  MULTIPOLYGON (((2.88464 32.88137, 2.87848 32.8...
2  OUM EL BOUAGHI     4  MULTIPOLYGON (((7.47320 35.52005, 7.47227 35.5...
3           BATNA     5  MULTIPOLYGON (((6.10102 35.05459, 6.10090 35.0...
4          BEJAIA     6  MULTIPOLYGON (((4.39109 36.24618, 4.39083 36.2...

In [135]:
# Load Wilayas GeoJSON Features 
wilayas_csv_df = pd.read_csv('wilayas.csv')
wilayas_csv_df.head()

   code             nom      nom_ar
0     1           Adrar       أدرار
1     2           Chlef       الشلف
2     3        Laghouat      اﻷغواط
3     4  Oum El Bouaghi  أم البواقي
4     5           Batna       باتنة

In [136]:
# Merge Wilayas CSV and GeoJSON 
merged_gdf = wilayas_json_gdf.merge(wilayas_csv_df, left_on='CODE', right_on='code', how='left')
merged_gdf.count()

WILAYA      48
CODE        48
geometry    48
code        48
nom         48
nom_ar      48
dtype: int64

In [137]:
merged_gdf.head()

,WILAYA,CODE,geometry,code,nom,nom_ar
0,CHLEF,2,"MULTIPOLYGON (((1.55326 36.02990, 1.55325 36.0...",2,Chlef,الشلف
1,LAGHOUAT,3,"MULTIPOLYGON (((2.88464 32.88137, 2.87848 32.8...",3,Laghouat,اﻷغواط
2,OUM EL BOUAGHI,4,"MULTIPOLYGON (((7.47320 35.52005, 7.47227 35.5...",4,Oum El Bouaghi,أم البواقي
3,BATNA,5,"MULTIPOLYGON (((6.10102 35.05459, 6.10090 35.0...",5,Batna,باتنة
4,BEJAIA,6,"MULTIPOLYGON (((4.39109 36.24618, 4.39083 36.2...",6,Béjaïa,بجاية

In [138]:
# Add a flag to store cheking state
merged_gdf['to_check'] = merged_gdf.apply(lambda row: (row.nom).lower() != str(row.WILAYA).lower(), axis=1)
merged_gdf[merged_gdf.to_check == True]

,WILAYA,CODE,geometry,code,nom,nom_ar,to_check
4,BEJAIA,6,"MULTIPOLYGON (((4.39109 36.24618, 4.39083 36.2...",6,Béjaïa,بجاية,True
6,BECHAR,8,"MULTIPOLYGON (((-1.99524 28.79846, -1.99907 28...",8,Béchar,بشار,True
10,TEBESSA,12,"MULTIPOLYGON (((7.36037 34.29662, 7.36034 34.2...",12,Tébéssa,تبسة,True
17,SETIF,19,"MULTIPOLYGON (((5.16925 35.70444, 5.16927 35.7...",19,Sétif,سطيف,True
18,SAIDA,20,"MULTIPOLYGON (((0.72323 34.44284, 0.72288 34.4...",20,Saïda,سعيدة,True
20,SIDI BEL ABBES,22,"MULTIPOLYGON (((-0.89527 34.46142, -0.89564 34...",22,Sidi Bel Abbès,سيدي بلعباس,True
24,MEDEA,26,"MULTIPOLYGON (((2.49405 35.51089, 2.49076 35.5...",26,Médéa,المدية,True
31,BORDJ BOU ARRERIDJ,34,"MULTIPOLYGON (((4.94312 35.81929, 4.94275 35.8...",34,Bordj Bou Arréridj,برج بوعريريج,True
32,BOUMERDES,35,"MULTIPOLYGON (((3.51546 36.60992, 3.51537 36.6...",35,Boumerdès,بومرداس,True
33,EL-TARF,36,"MULTIPOLYGON (((8.02614 36.45937, 8.02509 36.4...",36,El Tarf,الطارف,True
38,SOUK-AHRAS,41,"MULTIPOLYGON (((7.53798 35.88014, 7.53725 35.8...",41,Souk Ahras,سوق أهراس,True
41,AIN-DEFLA,44,"MULTIPOLYGON (((1.72114 35.97917, 1.72102 35.9...",44,Aïn Defla,عين الدفلى,True
42,NAAMA,45,"MULTIPOLYGON (((-0.99792 32.51558, -0.99799 32...",45,Naâma,النعامة,True
44,GHARDAIA,47,"MULTIPOLYGON (((4.12740 33.01380, 4.14386 33.0...",47,Ghardaïa,غرداية,True
45,AIN TEMOUCHENT,46,"MULTIPOLYGON (((-1.06748 35.12752, -1.06791 35...",46,Aïn Témouchent,عين تموشنت,True

In [139]:
# Reorder and rename columns
merged_gdf.drop(columns=['CODE', 'to_check'], inplace=True)
merged_gdf.rename(columns={"WILAYA": "nom_maj"}, inplace=True)
merged_gdf.head()

,nom_maj,geometry,code,nom,nom_ar
0,CHLEF,"MULTIPOLYGON (((1.55326 36.02990, 1.55325 36.0...",2,Chlef,الشلف
1,LAGHOUAT,"MULTIPOLYGON (((2.88464 32.88137, 2.87848 32.8...",3,Laghouat,اﻷغواط
2,OUM EL BOUAGHI,"MULTIPOLYGON (((7.47320 35.52005, 7.47227 35.5...",4,Oum El Bouaghi,أم البواقي
3,BATNA,"MULTIPOLYGON (((6.10102 35.05459, 6.10090 35.0...",5,Batna,باتنة
4,BEJAIA,"MULTIPOLYGON (((4.39109 36.24618, 4.39083 36.2...",6,Béjaïa,بجاية

In [141]:
wilayas_gdf = merged_gdf[['code', 'nom', 'nom_maj', 'nom_ar', 'geometry']]
wilayas_gdf.head()

,code,nom,nom_maj,nom_ar,geometry
0,2,Chlef,CHLEF,الشلف,"MULTIPOLYGON (((1.55326 36.02990, 1.55325 36.0..."
1,3,Laghouat,LAGHOUAT,اﻷغواط,"MULTIPOLYGON (((2.88464 32.88137, 2.87848 32.8..."
2,4,Oum El Bouaghi,OUM EL BOUAGHI,أم البواقي,"MULTIPOLYGON (((7.47320 35.52005, 7.47227 35.5..."
3,5,Batna,BATNA,باتنة,"MULTIPOLYGON (((6.10102 35.05459, 6.10090 35.0..."
4,6,Béjaïa,BEJAIA,بجاية,"MULTIPOLYGON (((4.39109 36.24618, 4.39083 36.2..."

In [142]:
# Sort the DataFrame by code (Wilaya number) and reset the index
wilayas_gdf = wilayas_gdf.sort_values(by=['code'],ignore_index=True)
wilayas_gdf.reset_index(drop=True)
wilayas_gdf.head()

,code,nom,nom_maj,nom_ar,geometry
0,1,Adrar,ADRAR,أدرار,"MULTIPOLYGON (((1.33461 20.72282, 1.32667 20.7..."
1,2,Chlef,CHLEF,الشلف,"MULTIPOLYGON (((1.55326 36.02990, 1.55325 36.0..."
2,3,Laghouat,LAGHOUAT,اﻷغواط,"MULTIPOLYGON (((2.88464 32.88137, 2.87848 32.8..."
3,4,Oum El Bouaghi,OUM EL BOUAGHI,أم البواقي,"MULTIPOLYGON (((7.47320 35.52005, 7.47227 35.5..."
4,5,Batna,BATNA,باتنة,"MULTIPOLYGON (((6.10102 35.05459, 6.10090 35.0..."

In [147]:
# Write to GeoJSON and CSV files
wilayas_gdf.to_file("wilayas_48.geojson", driver='GeoJSON')

wilayas_df = pd.DataFrame(wilayas_gdf[['code', 'nom', 'nom_maj', 'nom_ar']])
wilayas_df.to_csv("wilayas_48.csv")